body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 500px;
  background: white;
  padding: 30px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-top: 10px;
}

form input,
form select,
form button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

#hasil {
  margin-top: 20px;
  /* font-size: 1.2em; */
  /* font-weight: bold; */
  color: blue;
}

#hasil p {
  margin: 5px 0;
}